.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rhistory
*.pper
*.pper
*.pper
.Rproj.user/F51BD3D0/pcs/source-pane.pper
.Rhistory
.Rproj.user/E8364FD0/pcs/windowlayoutstate.pper
.Rproj.user/E8364FD0/pcs/workbench-pane.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/F51BD3D0/pcs/source-pane.pper
.Rproj.user/F51BD3D0/pcs/source-pane.pper
.Rproj.user/F51BD3D0/pcs/windowlayoutstate.pper
.Rproj.user/F51BD3D0/pcs/workbench-pane.pper
.Rproj.user/F51BD3D0/pcs/windowlayoutstate.pper
.Rproj.user/F51BD3D0/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
data/.DS_Store
